.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
 
  .miama {
    font-family: 'Miama', sans-serif;
    font-weight: lighter;
    font-size: 100px;
 }

/* shared color style */

   .intro {
    color:  tomato;
    
}
   .white {
    color: white;
   }
   .bg-color{
    background-color: black;
   }
   .rad{
    border-radius: 22px;
    background-color: tomato;
   }
   .gray{
     color: gray;
   }
/* nav styles */
.img-nav{
    display: flex;
    justify-content: end;
    
}

.navigate{
    align-items: center;
    display: flex;
    justify-content:space-between;
    margin: 0 200px;

}
nav ul{
    display: flex;
    align-items: center;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 22px;
    padding: 10px 10px 10px 0;
    }

nav ul li{
    margin-right: 2rem;
    list-style-type: none;
    }

nav li a{
    text-decoration: none;
    padding: 10px 18px 10px 18px;
    }
/* banner style */
.banner-title {
    color: white;
    font-size: 50px;
    line-height: 60px;
}
.banner-description{
    color: gray;
}
.btn-primary{
    color: white;
    background-color: tomato;
    padding: 10px 30px 10px 30px;
    border-radius: 22px;
    border-style: none;
    cursor: pointer;
}
.btn-secondary{
    color: white;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-radius: 22px;
    border-style: solid white;
    border-width: 2px;
    border-style: solid;
    border-color: bisque;
    cursor: pointer;    
}
.all-banner{
    display: flex;
    justify-content: space-between;
    padding: 0 16rem 0 12rem;
}
.banner-image{
    width: 340px;
    height: 450px;
}
/* small transparent card */
.card-container{
    display: flex;
  
    


    gap: 10px;
    width: 200;
    height: 96;
}
.red-circle{
    background-color: tomato;
    border-style: solid;
    width: 30px;
    height: 10px;
    border-radius:50% ;
    padding:10px 0px 10px 0px;
    margin-top: 20px;
}
.card-description{
      color: gray;
      line-height:normal;
      height: 100px;
      width: 100px;
      font-size: small;
}
.text-card{
     line-height: 10px;
}
.first-card{
    
   
}
/* main section start */
.heading-2{
    font-size: 35px ;

}
.container-habit{
    text-align: center;
     
}
.heading-3{
    color: white;
    text-align: center;
}
.heading-4{
    color:gray;
    text-align: center;
}
.head-mother{
    display: flex;
    justify-content: space-between;
    padding: 0 10rem 0 12rem;
    }
.omg{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-left: 18px;
}

.run{
    display: flex;
    gap: 21.1rem;
    background-color:#242526;
    padding: 2rem 2rem 1.5rem 2rem;
    margin:  10rem 10rem ;
    border-radius: 15px;
}
.omg-2{
     width: 370px; 
    height:350px;
    border-radius: 15px;
    object-fit:none;
    object-position: 67% 30% ;

    
}
.run-children{
    
 
}
.heading-5{
    color: white;
}
.heading-6{
    color:gray;
}
.run-para{
    line-height: 2rem;
}
/* bmi section */
.bmi{
    text-align: center;
}
table,th,td {
    border-style: solid;
    border-color:  gray;
    padding:  10px;
    border-collapse: collapse;
    border-width:1px;
    
}
.tab-size{
   font-size: small;
}

.bmi-color{
 color: white;
font-size: 22px;

}
.bmi-mother{
    display: flex;
    gap: 15rem;
    background-color: #242526;
    padding: 2rem 3rem 0 25rem;
    height: 500px;
  

}
.form{
  
    border-style: none;
    background-color: rgb(49, 46, 46);
    color: #919396;
    border-radius:5px; 
    padding:5px 0px 5px 5px ;
   padding-right: 20px ;
}
.trainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 20px;
    background-color:#242526 ;
    margin: 2rem 10rem 2rem 10rem;
    padding: 1.3rem 1rem 1.3rem 1.3rem;
    border-style: none;
   border-radius: 8px;
}
.ton{
    height: 312px;
    width: 366px;
    border-style: none;
    border-radius: 10px;
}
.head-7{
    text-align: center;
}
.gig{
 
}
.card-2{
  
}
/* footer section */
.foot-2{
color: tomato;
font-size: 50px;
}
.foot-3{
color:gray;
}
.main-footer{
background-color: #242526;
}
footer > div > div > ul > li{
    list-style-type: none;
    color: gray;
}
.footer{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    gap: 5rem;
    padding: 0rem 0rem 0rem 12rem;
}
.fee{
    padding-left: 0px;
    line-height: 26px;
}
.start{
    color: white;
    
}
.last-foot{
    background-color: gray;
    height: 1px;
    width: 1090px;
    margin-left:13rem ;
}
.copyright{
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
}
/* unique section */
.unique-img{
    height: 324px;
    width: 365px;
    border-style: none;
    border-radius: 5rem ;
}
.chest{
    display: flex;
    justify-content: space-between;
    padding: 3rem 3rem 3rem 3rem;
    border-style:none;
    border-radius: 2rem;

}
.unique-con2{
    margin: 8rem 8rem 8rem 8rem;
    
}
.con-45{
    text-align: center;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}
.reddis{
    background-color: lightcoral;

}
section > div > div > div > div > ul > li{
 list-style-type:lower-roman;
}
/* small screen media query */
@media screen and (max-width: 576px ) {
    
       .nav-response{
         display: none;
        /* flex-direction: column; */
        
       }
       .head-mother  {
        flex-direction: column;
       }
       .run{
        flex-direction: column;
        width: 280px;
        height: 600px;
        position: absolute;
       }
       .omg-2{
        width: 287px ;
        height: 170px ;
        margin-bottom: 10rem;
        flex-direction: column;
       }
       .total-unique{
        flex-direction: column;
        width:fit-content ;
        height: fit-content;
        padding: 4rem 4rem 4rem 4rem;
       }
       .bmi-con {
        flex-direction: column;
       }
}
@media screen  and (min-width: 576px ){
    .img-nav{
        display: none;
        
        
}

}
    